.add_sign_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.canvas_sign {
  border: solid 1px black;
  border-radius: 10px;
}

.footer_buttons {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}
